@model Knowledgeable.Models.ProfileModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<style>

</style>

@using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { enctype = "multipart/Form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div style="width:200px;">
            @if (Model.ProfilePicture == null)
            {
                <img src="~/Content/ProfilePicture/default.jpg" style="width:100%;" alt="Profile Picture" />
            }
            else
            {
                <img src="~/Content/ProfilePicture/@Model.UserID@Model.ProfilePicture" style="width:100%;" alt="Profile Picture" />
            }
        </div>


        <div style="margin-top:10px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserID)            

            <div class="form-group">
                @Html.LabelFor(model => model.PictureFile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="PictureFile" name="PictureFile" class = "form-control" />
                    @Html.ValidationMessageFor(model => model.PictureFile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("View Profile", "Index")
</div>


<script>
    function upload() {
        eventFire(document.getElementById('PictureFile'), 'click');
    }
    function eventFire(el, etype) {
        if (el.fireEvent) {
            el.fireEvent('on' + etype);
        } else {
            var evObj = document.createEvent('Events');
            evObj.initEvent(etype, true, false);
            el.dispatchEvent(evObj);
        }
    }
</script>