@model IEnumerable<Knowledgeable.Models.CommentModel>

<style>
    .Subcomment
    {
        margin-left: 20px;
    }
</style>

<h2>Comments</h2>



@foreach (var item in Model)
{
    <div id="comment" class="comment">
        <h3>@item.UserID</h3>

        <p>@item.Comment1</p>

        <p>@item.DatePosted | <span onclick="Upvote(@item.CommentID)">Upvote</span> @item.UpVote | <span onclick="Downvote(@item.CommentID)">Downvote</span> @item.DownVote </p>

        @foreach (var sub in item.listSubcomment)
        {
            if (item != null)
            { 
                <div id="Subcomment" class="Subcomment">
                    <h3>@item.UserID</h3>

                    <p>@item.Comment1</p>

                    <p>@item.DatePosted | <span onclick="Upvote(@item.CommentID)">Upvote</span> @item.UpVote | <span onclick="Downvote(@item.CommentID)">Downvote</span> @item.DownVote </p>
                </div>
            }
        }
    </div>
}
