@model IEnumerable<Knowledgeable.Models.CommentModel>

<style>
    .Subcomment
    {
        margin-left: 20px;
    }

    .comment
    {
        background-color:gray;
        border-radius:10px;
        padding-bottom:8px;
        padding-top:10px;
        padding-right:5px;
        padding-left:5px;
        margin-bottom:10px;
    }

    .Subcomment
    {
        background-color:lightgray;
        border-radius:10px;
        padding-bottom:5px;
        padding-top:5px;
        padding-right:15px;
        padding-left:5px;
        margin-bottom:10px;
    }
</style>

<h3>Comments</h3>



@foreach (var item in Model)
{
    <div id="comment" class="comment">
        <p style="font-weight:bold;">@item.UserID</p>

        <p>@item.Comment1</p>

        <p>@item.DatePosted | <span onclick="Upvote(@item.CommentID)">Upvote: </span> @item.UpVote | <span onclick="Downvote(@item.CommentID)">Downvote: </span> @item.DownVote </p>


        <div class="reply" id="reply">
            <textarea type="text" id="@item.CommentID" rows="3" cols="500" style="padding-top:2px; padding-left:4px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" placeholder="Reply to this comment"></textarea>
            <br /><br />
            <input type="button" value="Reply" onclick="SubmitS_Comment('@item.CommentID')" class="btn btn-default" />
        </div>

        <hr />

        @foreach (var sub in item.listSubcomment)
        {
            if (sub != null)
            { 
                <div id="Subcomment" class="Subcomment">
                    <h3>@sub.UserID</h3>

                    <p>@sub.SubComment1</p>

                    <p>@sub.DatePosted | <span onclick="Upvote(@sub.CommentID)">Upvote: </span> @sub.UpVote | <span onclick="Downvote(@sub.CommentID)">Downvote: </span> @sub.DownVote </p>
                </div>
            }
        }
    </div>
}
<script src="~/Scripts/jquery-2.2.0.js"></script>
<script>

    function SubmitS_Comment(id) {
        alert(id);
        var comment = $('#' + id).val();
        SS_Comment(id, comment);
    }

    function SS_Comment(id, comment) {
        alert(id);
        alert(comment);
        $.ajax({
            type: "GET",
            url: '/Comment/SS_Comment',
            data: { id: id, comment: comment },
            processdata: true,
            cache: false,
            contentType: "application/html",
            dataType: "html",
            success: function (data) {
                if (data != "") {
                    alert(data);
                }
                else {
                    alert('Subcomment has been posted');
                    setTimeout(function () { location.reload(); }, 2000);
                }
            },
            error: function (xhr, status, error) {
                //alert(xhr.responseText);
                //var err = eval("(" + xhr.responseText + ")");
                alert("error");
            },
        });
    }

</script>