@model Knowledgeable.Models.ArticleModel
@{
    ViewBag.Title = "ViewArticle";
}

<h2>ViewArticle</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
        @if (Model.DateModified != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.DateModified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateModified)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Article1)
        </dt>

        <dd>
            @Html.Raw(Model.Article1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<div id="comment"></div>


<br/>
<div>
    <textarea type="text" id="comment_" rows="5" cols="500" style="padding-top:2px; padding-left:4px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" placeholder="Write a comment..."></textarea>
    <br/><br/>
    <input type="button" value="Post a new comment" onclick="SubmitComment('@Model.ArticleID')" class="btn btn-default"/>
</div>
<script src="~/Scripts/jquery-2.2.0.js"></script>
<script>

    function SubmitComment(articleid) {
        var comment = $('#comment_').val();
        S_Comment(articleid, comment);
    }

    function S_Comment(articleid, comment) {
        alert(articleid);
        alert(comment);
        $.ajax({
            type: "GET",
            url: '/Comment/SComment',
            data: { articleid: articleid, comment: comment },
            processdata: true,
            cache: false,
            contentType: "application/html",
            dataType: "html",
            success: function (data) {
                if (data != "") {
                    alert(data);
                }
                else {
                    alert('Comment has been posted');
                    setTimeout(function () { location.reload(); }, 2000);
                }
            },
            error: function (xhr, status, error) {
                //alert(xhr.responseText);
                //var err = eval("(" + xhr.responseText + ")");
                alert("error");
            },
        });
    }

    var articleid = '@Model.ArticleID';
    $.ajax({
        type: "GET",
        url: '/Comment/LoadComment',
        data: { id:articleid},
        processdata: true,
        cache: false,
        contentType: "application/html",
        dataType: "html",
        success: function (data) {
            //var JsonObj = $.parseJSON(data);
            $("#comment").html(data);
            document.getElementById('editButton').innerHTML = "Cancel";
            document.getElementById('titleTop').innerHTML = "Edit";

        },
        error: function (xhr, status, error) {
            //alert(xhr.responseText);
            //var err = eval("(" + xhr.responseText + ")");
            alert("error");
        },
    });
</script>