@model Knowledgeable.Models.ArticleModel
@{
    ViewBag.Title = "ViewArticle";
}

<h2>Article</h2>
<hr />

<div>

    <table width="100%" height="auto" border="0px">
        <tr>
            <th width="10%">@Html.DisplayNameFor(model => model.Title):</th>
            <td>@Html.DisplayFor(model => model.Title)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DatePosted):</th>
            <td>@Html.DisplayFor(model => model.DatePosted)</td>
        </tr>
        @if (Model.DateModified != null)
        {
            <tr>
                <th>@Html.DisplayNameFor(model => model.DateModified):</th>
                <td>@Html.DisplayFor(model => model.DateModified)</td>
            </tr>
        }
        <tr><th colspan="6">&nbsp;</th></tr>
        <tr><th>@Html.DisplayNameFor(model => model.Article1):</th></tr>
        <tr>
            <td colspan="6">
                @Html.Raw(Model.Article1)
            </td>
        </tr>
    </table>
    <br/>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID }) |
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to List</a>
</p>


<div id="comment"></div>


<br/>
<div>
    <textarea class="txtarea" type="text" id="comment_" rows="5" cols="500" style="padding-top:2px; padding-left:4px; font-family:'Trebuchet MS';" placeholder="Write a comment..."></textarea>
    <br/><br/>
    <input type="button" value="Post a new comment" onclick="SubmitComment('@Model.ArticleID')" class="btn btn-default"/>
</div>

<style>
    .txtarea
    {
        border-radius:5px;
        background-color:#1a1a1a;
        color: white;
        border:none;
    }
</style>

<script src="~/Scripts/jquery-2.2.0.js"></script>
<script>

    function SubmitComment(articleid) {
        var comment = $('#comment_').val();
        S_Comment(articleid, comment);
    }

    function S_Comment(articleid, comment) {
        //alert(articleid);
        //alert(comment);
        $.ajax({
            type: "GET",
            url: '/Comment/SComment',
            data: { articleid: articleid, comment: comment },
            processdata: true,
            cache: false,
            contentType: "application/html",
            dataType: "html",
            success: function (data) {
                if (data != "") {
                    alert(data);
                }
                else {
                    alert('Comment has been posted');
                    document.getElementById('comment_').focus();
                    document.getElementById('comment_').value = null;
                    reload();
                }
            },
            error: function (xhr, status, error) {
                //alert(xhr.responseText);
                //var err = eval("(" + xhr.responseText + ")");
                alert("error");
            },
        });
    }

    var articleid = '@Model.ArticleID';
        $.ajax({
            type: "GET",
            url: '/Comment/LoadComment',
            data: { id: articleid },
            processdata: true,
            cache: false,
            contentType: "application/html",
            dataType: "html",
            success: function (data) {
                //var JsonObj = $.parseJSON(data);
                $("#comment").html(data);
                document.getElementById('editButton').innerHTML = "Cancel";
                document.getElementById('titleTop').innerHTML = "Edit";

            },
            error: function (xhr, status, error) {
                //alert(xhr.responseText);
                //var err = eval("(" + xhr.responseText + ")");
                alert("error");
            },
        });
</script>